body{
	font-family: 'Lato', sans-serif;
}

.title{
	font-family:serif;
	font-family: 'Crushed', cursive;
	font-size: 45px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	color:#008080;

}

.italic {
	font-style:italic;
	text-align:center;
}

.bold{
	font-weight:bold;
}

.dotless {
  list-style-type: none;
  text-align:left;
  padding:0;
}

#card{
	border-style: dotted;
	border-width: 5px;
	border-color: #008080;
	width: 300px;
	padding:8px;
	padding-right:12px;
	padding-bottom:13px;
	padding-left:10px;
}


.image{
	padding-bottom: 12px;
	padding-left:2px;
}

.information{
	border-style:solid;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 3px;
	background-color:#bfffff;
}
